// @import '/node_modules/normalize.css/normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

$almost-white: hsl(0, 0%, 98%);
$medium-gray: hsl(0, 0%, 41%);
$almost-black: hsl(0, 0%, 8%);

$body-copy: 1.125rem;
$font-family: 'Epilogue';
$medium-weight: 500;
$heavy-weight: 700;

* {
    box-sizing: border-box;
}

html,
body {

    // position: relative;
    // float: left;
}

body {
    font-family: $font-family;
    font-size: 62.5%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: $medium-weight;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

ul {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #000;
}

.container {
    font-size: $body-copy;
    width: 100vw;
    height: 100vh;
}

header {
    width: 100vw;

    nav {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100vw;

        .logo {
            margin: 1rem;
        }

        .hamburger-btn {
            margin: 1rem;
        }

        .overlay-container {
            position: fixed;
            display: none;
            align-items: center;
            justify-content: end;
            width: 100vw;
            height: 100vh;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }

        .transparent {
            position: fixed;
            height: 100vh;
            background-color: hsla(0, 0%, 0%, .5);
            width: 100vw;
            z-index: 1;
        }

        .menus {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            min-width: 15rem;
            height: 100vh;
            z-index: 10;
            background: white;
        }


        .main-menu {
            display: flex;
            justify-content: space-evenly;
            margin: .625rem;
            align-items: flex-start;
            flex-direction: column;
        }

        .user-menu {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: space-evenly;
            margin-inline: auto;
            width: 80%;
        }

        .user-menu li,
        .main-menu li {
            list-style-type: none;
            font-size: 1rem;
            color: $medium-gray;
            font-weight: $medium-weight;
            width: 100%;
            line-height: 1.625rem;
            margin-inline: .625rem;
            padding: .625rem;
        }

        li img {
            display: inline;
        }

        .arrow-up, .arrow-down {
            margin-left: .25rem;
        }

        li.features-item {

            .arrow-up {
                display: none;
            }

            .arrow-down {
                display: inline;
            }

            ul.features-menu {
                display: none;
            }
        }

        li.features-item.open {
            .arrow-up {
                display: inline;
            }

            .arrow-down {
                display: none;
            }

            ul.features-menu {
                display: block;
            }
        }

        li.company-item {

            .arrow-up {
                display: none;
            }

            .arrow-down {
                display: inline;
            }

            ul.company-menu {
                display: none;
            }
        }

        li.company-item.open {
            .arrow-up {
                display: inline;
            }

            .arrow-down {
                display: none;
            }

            ul.company-menu {
                display: block;
            }
        }

        li.button {
            border: 1.5px solid $medium-gray;
            border-radius: 1rem;
        }

        .user-menu li {
            text-align: center;
        }

        .show {
            display: flex
        }

        .hide {
            display: none
        }

        .close-menus {
            margin: 1rem;
            margin-left: auto;
        }
    }
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img[class$="-hero"] {
        width: 100%;
        object-fit: contain;
    }

    .desktop-hero {
        display: none;
    }

    .mobile-hero {
        display: initial;
    }

    article {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90vw;

        h1 {
            font-style: normal;
            font-weight: $heavy-weight;
            font-size: 2.25rem;
            line-height: 2.625rem;
            text-align: center;
            letter-spacing: -0.03125rem;
        }

        p {
            font-style: normal;
            font-weight: $medium-weight;
            font-size: 1rem;
            line-height: 1.625rem;
            text-align: center;
            color: $medium-gray;
        }

        button {
            background: $almost-black;
            border-radius: 1rem;
            color: $almost-white;
            font-weight: $heavy-weight;
            font-size: 1rem;
            line-height: 1.625rem;
            text-align: center;
            letter-spacing: -0.222222px;
            padding-block: .75rem;
            padding-inline: 1.5rem;
            cursor: pointer;

        }

        button:hover {
            background: $almost-white;
            color: $almost-black;
        }
    }
}

footer {

    .clients {
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            object-fit: contain;
        }
        margin: 2rem;
    }

    .attribution {
        font-size: .75rem;
        text-align: center;
    }
    
    .attribution a {
        color: hsl(228, 45%, 44%);
    }
}



@media(min-width: 1024px) {

    header {

        nav {

            .overlay-container {
                position: relative;
                display: flex;
                width: 100vw;
                height: auto;
                align-items: baseline;
                justify-content: center;
            }

            .transparent {
                display: none;
            }

            .main-menu li, .user-menu li, .features-menu li, .company-menu li {
                font-weight: $medium-weight;
                font-size: .875rem;
                line-height: 1rem;
                width: 7.5rem;
            }

            .menus {
                position: relative;
                width: 100%;
                height: auto;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
            }

            .main-menu, .user-menu {
                flex-direction: row;
                align-items: center;
            }

            .features-menu, .company-menu {
                display: none;
            }

            .open .features-menu, .open .company-menu {
                background-color: $almost-white;
                display: flex;
                position: absolute;
                top: 4rem;
                box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.149126);
                border-radius: .625rem;
                padding: .75rem;
            }

            .open .features-menu {
                left: -3rem;
            }

            .open .company-menu {
                left: 6.25rem;
            }

            .user-menu {
                justify-content: space-evenly;
                margin: unset;
                margin-left: auto;
                width: auto;
            }

            .hamburger-btn, .close-btn {
                display: none;
            }
        }
    }

    main {
        flex-direction: row-reverse;
        gap: 7rem;
        

        img.desktop-hero {
            display: initial;
            width: 30rem;
        }

        img.mobile-hero {
            display: none;
        }

        article {
            
            align-items: flex-start;
            width: 33rem;

            h1 {
                text-align: left;
                font-size: 5rem;
                line-height: 5rem;
                letter-spacing: -1.11111px;
                margin-bottom: 2rem;
            }

            p {
                margin-bottom: 2rem;
                text-align: left;
                font-size: 1.125rem;
                line-height: 1.625rem;
            }

            button {
                font-size: 1.125rem;
                line-height: 1.75rem;
                text-align: center;
                letter-spacing: -0.25px;
                padding-inline: 2.5rem;
                padding-block: 1rem;
            }

            footer {
                align-items: flex-start;
                justify-content: flex-start;
                img {
                    object-fit: contain;
                }
                margin: unset;
                margin-block: 7rem;
            }
        }
    }
}